<ion-header>
    <ion-toolbar>
        <ion-title>Find your strain</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar [(ngModel)]="searchTerm" (ngModelChange)="search(searchTerm)"
                   placeholder="Search (3 or more characters)"></ion-searchbar>

    <ion-list *ngIf="strains">

        <ion-item *ngFor="let strain of strains.strains | keyvalue" (click)="addStrain(strain)">
            <ion-avatar slot="start">
                <img src="https://en.seedfinder.eu/pics/01seeds/{{strain.value.brid}}/{{strain.value.brid}}_-_{{strain.value.id}}_thumb.jpg">
            </ion-avatar>
            <ion-label>
                <h2>{{strain.value.name}}</h2>
                <h3>{{strain.value.brname}}</h3>
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>
