<ion-list>

    <ion-item-divider>
        <ion-label>
            Outdoor info
        </ion-label>
    </ion-item-divider>

    <ion-item>
        <ion-label>Province</ion-label>
        <ion-select placeholder="Select One">
            <ion-select-option value="led">Eastern Cape</ion-select-option>
            <ion-select-option value="hps">Free State</ion-select-option>
            <ion-select-option value="mh">Gauteng</ion-select-option>
            <ion-select-option value="cfl">KwaZulu-Natal</ion-select-option>
            <ion-select-option value="mh">Limpopo</ion-select-option>
            <ion-select-option value="mh">Mphumalanga</ion-select-option>
            <ion-select-option value="mh">Northern Cape</ion-select-option>
            <ion-select-option value="mh">North West</ion-select-option>
            <ion-select-option value="mh">Western Cape</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>January</ion-card-subtitle>
            <ion-card-title>Grow month</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Cannabis-Plants into this zone can be cultivated from August to May. The plants will start flowering around
            January when the days slowly become shorter. Into the arid months (the ones with an lower precipation than
            potential evaporation) you may need to irregate, depending on the strain, the current rainfall and the water
            balance in your surroundings.
        </ion-card-content>
    </ion-card>

</ion-list>
