<ion-header>
  <ion-toolbar color="light">
    <ion-title>Start a grow log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Code name</ion-label>
      <ion-input [(ngModel)]="newItem.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Medium</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="newItem.medium">
        <ion-select-option value="soil">Soil</ion-select-option>
        <ion-select-option value="hydro">Hydroponic</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-item *ngFor="let strain of strains | async">
      <ion-avatar slot="start">
        <img src="{{strain['image-1']}}">
      </ion-avatar>
      <ion-label>
        <h2>{{strain.name}}</h2>
        <h3>{{strain.breeder}}</h3>
        <p>{{strain.genetics}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" expand="block" (click)="presentModal()">Add strain</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="addItem(newItem)">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
