<ion-header>
  <ion-toolbar>
    <ion-title>What strains we growing?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button fill="outline" expand="block" (click)="presentModal()">Add strain</ion-button>
  </ion-toolbar>
</ion-footer>
