<ion-header>
    <ion-toolbar>
        <ion-title>What strains we growing?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
        </ion-card-content>
    </ion-card>

    <ul>
        <li *ngFor="let item of items | async">
            {{ item.name }}
        </li>
    </ul>

</ion-content>

<ion-footer>
    <ion-toolbar>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button fill="outline" expand="block" (click)="presentModal()">Add strain</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" (click)="presentModal()">Next</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-footer>
